<%= form_for(@pergunta) do |f| %>
  <% if @pergunta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pergunta.errors.count, "error") %> prohibited this pergunta from being saved:</h2>

      <ul>
      <% @pergunta.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pergunta %><br />
    <%= f.text_field :pergunta %>
  </div>
  <div class="field">
    <%= f.label :caracteristica %><br />
    <%= f.text_field :caracteristica %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
