<h1>Listing perguntas</h1>

<table>
  <tr>
    <th>Pergunta</th>
    <th>Caracteristica</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @perguntas.each do |pergunta| %>
  <tr>
    <td><%= pergunta.pergunta %></td>
    <td><%= pergunta.caracteristica %></td>
    <td><%= link_to 'Show', pergunta %></td>
    <td><%= link_to 'Edit', edit_pergunta_path(pergunta) %></td>
    <td><%= link_to 'Destroy', pergunta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pergunta', new_pergunta_path %>
