<p id="notice"><%= notice %></p>

<p>
  <b>Pergunta:</b>
  <%= @pergunta.pergunta %>
</p>

<p>
  <b>Caracteristica:</b>
  <%= @pergunta.caracteristica %>
</p>


<%= link_to 'Edit', edit_pergunta_path(@pergunta) %> |
<%= link_to 'Back', perguntas_path %>
